@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.header {
    position: fixed;
    z-index: 1000;
    background: black;
    backdrop-filter: blur(10px);
    font-family: "Roboto Slab", serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.menu-appbar{
    background: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    font-family: "Roboto Slab", serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  